<div id="page_content">
    <% content_for :title, "Editing project" %>

    <h1><%= link_to @project.title, @project %></h1>

    <%= render "form", project: @project, action: "Edit Project" %>

    <br>

    <div id="bubble">
        <%= render "tags/tags_editable", tags: @project.tags %>
        <%= render "tags/new_button", tag: Tag.new, project: @project, action: "Create" %>
    </div>
</div>

