<div id="left_bar">
  <h2>My Logged Bugs</h2>
  <div id="sidebar_bugs">
    <%= render Bug.where(author: Current.user).order(title: :desc), project: @project, type: "sidebar" %>
  </div>
</div>

<div id="page_content">
  <p style="color: green"><%= notice %></p>

  <% content_for :title, "Projects" %>

  <h1>Projects</h1>
  <%= render @projects %>
  <%= link_to "New project", new_project_path %>
</div>
