
<div id="page_content">
  <p style="color: green"><%= notice %></p>

  <% content_for :title, "Projects" %>

  <h1>Projects</h1>
  <%= render @projects %>
  <%= link_to "New project", new_project_path %>
</div>
