<div id="page_content">
  <% content_for :title, "New project" %>

  <%= render "form", project: @project, action: "New Project" %>

  <br>

  <%= link_to "Back to projects", projects_path %>
</div>

