/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

@import "colors.css";

html, body {
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
}

p, label {
  color: var(--color-background);
  font-family: "Ubuntu Mono";
}

h2, h3 {
  font-family: "Departure Mono";
  color: var(--color-background);
}

h1 {
  font-family: "Departure Mono";
  color: var(--color-surface);
}

a {
  color: var(--color-primary);
}

#base {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 5% 1fr 5%;
  height: 100vh;
  /* ^ The height makes it so that the base will always at least fill the viewport. */
}

#container {
  background-color: var(--color-background);
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: auto;
  grid-row: 2;
  grid-column: 1;
}

nav {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-row: 1;
  background-color: var(--color-primary);
}

nav a, nav button {
  grid-column: 2;
  color: var(--color-warning)
}

#page_content {
  grid-column: 2;
  grid-row: 1;
}

div[id^="project_"], div[id^="bug_"], div[id^="user_"], #bubble {
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 2em;
  background-color: var(--color-surface);
  border: solid;
  border-color: var(--color-shadow);
  border-width: 0.20em;
}

div[id^="tag_"] {
  display: inline;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}

#sidebar_tags {
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}

div[id^="tag_"] span, div[id^="bug_"] span {
  border-radius: 1em;
  padding: 0.5em;
  background-color: var(--color-accent);
  color: var(--color-background);
  font-family: "Ubuntu Mono";
}

hr {
  border-color: var(--color-background);
  opacity: 0.2;
}

div[id^="edit_tag"] {
  display: flex;
  border-radius: 1em;
  padding: 0.25em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 0.5em;
  background-color: var(--color-accent);
  color: var(--color-background);
  margin-bottom: 1em;
  align-items: center;
}

#edit_tag button {
  margin-left: auto;
}

button, input[type="submit"] {
  all: unset;
  background-color: var(--color-primary);
  color: var(--color-surface);
  border-radius: 0.5em;
  padding: 0.5em;
  cursor: pointer;
  margin-top: 0.5em;
}

button:hover, input[type="submit"]:hover {
  background-color: var(--color-accent);
}

#right_bar {
  grid-column: 3;
  grid-row: 1;
  background-color: var(--color-surface);
  position: sticky;
  top: 5em;               /* Distance from the top of the viewport */
  align-self: start;    /* Make sure it sticks to the top of the grid cell */
  height: max-content;  /* Prevent stretching */
  padding: 1em;
  border-radius: 0.5em;
  margin-right: 2em;
  margin-left: 2em;
  border: solid;
  border-color: var(--color-shadow);
  border-width: 0.20em;
}

#left_bar {
  grid-column: 1;
  grid-row: 1;
  background-color: var(--color-surface);
  position: sticky;
  top: 5em;               /* Distance from the top of the viewport */
  align-self: start;    /* Make sure it sticks to the top of the grid cell */
  height: max-content;  /* Prevent stretching */
  padding: 1em;
  border-radius: 0.5em;
  margin-right: 2em;
  margin-left: 2em;
  border: solid;
  border-color: var(--color-shadow);
  border-width: 0.20em;
}

@media (max-width: 1000px) {
  #right_bar, #left_bar {
    display: none;
  }
}

/* todo maybe delete this? */
#right_bar span {
  display: block;
  width: fit-content;
}

.trix-content {
  color: var(--color-background);
  font-family: "Ubuntu Mono";
}

input[type="text"], input[type="email"], input[type="password"], input[type="number"], select, textarea {
  background-color: transparent; /* removes white */
  color: inherit;                /* optional, inherits text color */
  padding: 0.25em;
  border-color: var(--color-accent);
  color: var(--color-background);
}

input:not([type="button"]):not([type="submit"]):focus, textarea:focus {
  outline: 2px solid var(--color-base); /* Indigo-600, for example */
}
