/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

@import "colors.css";

html, body {
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
}

p, label {
  color: var(--color-background);
  font-family: "Ubuntu Mono";
}

h2 {
  font-family: "Departure Mono";
  color: var(--color-background);
}

h1 {
  font-family: "Departure Mono";
  color: var(--color-surface);
}

a {
  color: var(--color-primary);
}

#container {
  background-color: var(--color-background);
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 100%;
}

div[id^="project_"], div[id^="bug_"], div[id^="user_"] {
  padding: 1em;
  margin: 1em;
  border-radius: 2em;
  background-color: var(--color-surface);
}

#tag_collection {
  display: block;
  margin-right: 0.5em;
  margin-bottom: 1em
}

div[id^="tag_"] {
  display: inline;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}

div[id^="tag_"] span {
  border-radius: 1em;
  padding: 0.5em;
  background-color: var(--color-accent);
  color: var(--color-background);
 }

button, input[type="submit"] {
  all: unset;
  background-color: var(--color-primary);
  color: var(--color-surface);
  border-radius: 0.5em;
  padding: 0.5em;
  cursor: pointer;
  margin-top: 0.5em;
}

button:hover, input[type="submit"]:hover {
  background-color: var(--color-accent);
}

#page_content {
  grid-column: 2;
  grid-row: 1
}

.trix-content {
  color: var(--color-background);
  font-family: "Ubuntu Mono";
}

input[type="text"], input[type="email"], input[type="password"], textarea {
  background-color: transparent; /* removes white */
  color: inherit;                /* optional, inherits text color */
  padding: 0.25em;
  border-color: var(--color-accent);
  color: var(--color-background);
}
