/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

 :root {
  --color-background: #1d3b11;
  --color-primary: #4c721d;
  --color-accent: #99b127;
  --color-warning: #debf53;
  --color-surface: #edd090;
  --color-base: #f8e8ca;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
}

p, h1, label {
  color: var(--color-background);
}

h1 {
  font-family: "Departure Mono";
}

a {
  color: var(--color-primary)
}

 #container {
  background-color: var(--color-background);
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 100%;
 }

 div[id^="project_"], div[id^="bug_"] {
  padding: 1em;
  margin: 1em;
  border-radius: 2em;
  background-color: var(--color-surface);
 }

 #page_content {
  grid-column: 2;
  grid-row: 1
 }

.trix-content {
  color: var(--color-background)
}


 /* trix-editor {
  background-color: #212529;
  color: white;
  border: 1px solid #444;
  padding: 1rem;
}

trix-editor a {
  color: #66bfff;
}

trix-editor [data-trix-placeholder] {
  color: #aaa;
}

.trix-button-group {
  background-color: #2c2c2c;
  border-color: #444;
}

.trix-button {
  color: white;
}

.trix-button--icon::before {
  filter: invert(100%);
} */