 :root {
  --color-shadow: #0b1908;
  --color-background: #1d3b11;
  --color-primary: #4c721d;
  --color-accent: #99b127;
  --color-warning: #debf53;
  --color-surface: #edd090;
  --color-base: #f8e8ca;
}